name: documentation

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  build:
    name: Build documentation
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/install-python-and-package
      - name: Install pandoc using apt
        run: sudo apt install pandoc        
      - name: Build documentation
        run: make coverage doctest html
        working-directory: docs
